# This is Shravanti's and my final project of the Data-Science Bootcamp at WBS Coding School

#### The main goal of our work is to use data of gas consumption and gas prices from the past 4 years (2018 - 2021) to predict consumption and prices for 2022, as if the Ukraine war would have not happened.
#### We will compare this predicted data to the actual data (01 - 07/2022) to show the effect of the war on the consumption and the prices.
#### As the last step, we will predict gas consumption and prices based on the current data (01 - 07/2022) with diffent scenarios of the gas supply by Russia.

### **This notebook contains the data cleaning of the "inflation" datasets.**

In [28]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

### Data from 2018 - 2021

In [29]:
data_original_infl_20xx = pd.read_csv(r"/Volumes/Extreme Pro/WBS Bootcamp Data Science/Final Project/Data/Original/Inflation Europe/Inflation EU_2018-2021_monthly.csv")
data_original_infl_20xx.head()

,KEY,FREQ,REF_AREA,ADJUSTMENT,ICP_ITEM,STS_INSTITUTION,ICP_SUFFIX,TIME_PERIOD,OBS_VALUE,OBS_STATUS,...,PUBL_PUBLIC,UNIT_INDEX_BASE,COMPILATION,COVERAGE,DECIMALS,SOURCE_AGENCY,TITLE,TITLE_COMPL,UNIT,UNIT_MULT
0,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2017-12,1.3,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
1,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2018-01,1.3,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
2,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2018-02,1.1,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
3,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2018-03,1.4,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
4,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2018-04,1.2,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0

In [30]:
data_original_infl_20xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   KEY              50 non-null     object
 1   FREQ             50 non-null     object
 2   REF_AREA         50 non-null     object
 3   ADJUSTMENT       50 non-null     object
 4   ICP_ITEM         50 non-null     int64
 5   STS_INSTITUTION  50 non-null     int64
 6   ICP_SUFFIX       50 non-null     object
 7   TIME_PERIOD      50 non-null     object
 8   OBS_VALUE        50 non-null     float64
 9   OBS_STATUS       50 non-null     object
 10  OBS_CONF         50 non-null     object
 11  OBS_PRE_BREAK    0 non-null      float64
 12  OBS_COM          0 non-null      float64
 13  TIME_FORMAT      50 non-null     object
 14  BREAKS           0 non-null      float64
 15  COLLECTION       50 non-null     object
 16  COMPILING_ORG    0 non-null      float64
 17  DATA_COMP        0 non-null      float64
 18  DISS_ORG         0 non-null      float64
 19  DOM_SER_IDS      50 non-null     object
 20  PUBL_ECB         0 non-null      float64
 21  PUBL_MU          0 non-null      float64
 22  PUBL_PUBLIC      0 non-null      float64
 23  UNIT_INDEX_BASE  0 non-null      float64
 24  COMPILATION      0 non-null      float64
 25  COVERAGE         0 non-null      float64
 26  DECIMALS         50 non-null     int64
 27  SOURCE_AGENCY    0 non-null      float64
 28  TITLE            50 non-null     object
 29  TITLE_COMPL      50 non-null     object
 30  UNIT             50 non-null     object
 31  UNIT_MULT        50 non-null     int64
dtypes: float64(14), int64(4), object(14)
memory usage: 12.6+ KB

In [31]:
data_infl_20xx = data_original_infl_20xx.drop(data_original_infl_20xx.iloc[:, 9:],axis = 1)
data_infl_20xx = data_infl_20xx.drop(data_infl_20xx.iloc[:, :7],axis = 1)
data_infl_20xx

   TIME_PERIOD  OBS_VALUE
0      2017-12        1.3
1      2018-01        1.3
2      2018-02        1.1
3      2018-03        1.4
4      2018-04        1.2
5      2018-05        2.0
6      2018-06        2.0
7      2018-07        2.2
8      2018-08        2.1
9      2018-09        2.1
10     2018-10        2.3
11     2018-11        1.9
12     2018-12        1.5
13     2019-01        1.4
14     2019-02        1.5
15     2019-03        1.4
16     2019-04        1.7
17     2019-05        1.2
18     2019-06        1.3
19     2019-07        1.0
20     2019-08        1.0
21     2019-09        0.8
22     2019-10        0.7
23     2019-11        1.0
24     2019-12        1.3
25     2020-01        1.4
26     2020-02        1.2
27     2020-03        0.7
28     2020-04        0.3
29     2020-05        0.1
30     2020-06        0.3
31     2020-07        0.4
32     2020-08       -0.2
33     2020-09       -0.3
34     2020-10       -0.3
35     2020-11       -0.3
36     2020-12       -0.3
37     2021-01        0.9
38     2021-02        0.9
39     2021-03        1.3
40     2021-04        1.6
41     2021-05        2.0
42     2021-06        1.9
43     2021-07        2.2
44     2021-08        3.0
45     2021-09        3.4
46     2021-10        4.1
47     2021-11        4.9
48     2021-12        5.0
49     2022-01        5.1

In [32]:
data_infl_20xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME_PERIOD  50 non-null     object
 1   OBS_VALUE    50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [33]:
# convert date in datetime-datatype
data_infl_20xx["TIME_PERIOD"] = pd.to_datetime(data_infl_20xx["TIME_PERIOD"])
data_infl_20xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME_PERIOD  50 non-null     datetime64[ns]
 1   OBS_VALUE    50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 928.0 bytes

In [34]:
data_infl_20xx = data_infl_20xx.assign(
                            month = data_infl_20xx["TIME_PERIOD"].dt.strftime("%B"),
                            month_no = data_infl_20xx["TIME_PERIOD"].dt.strftime("%m"),
                            year = data_infl_20xx["TIME_PERIOD"].dt.strftime("%Y"))

data_infl_20xx

   TIME_PERIOD  OBS_VALUE      month month_no  year
0   2017-12-01        1.3   December       12  2017
1   2018-01-01        1.3    January       01  2018
2   2018-02-01        1.1   February       02  2018
3   2018-03-01        1.4      March       03  2018
4   2018-04-01        1.2      April       04  2018
5   2018-05-01        2.0        May       05  2018
6   2018-06-01        2.0       June       06  2018
7   2018-07-01        2.2       July       07  2018
8   2018-08-01        2.1     August       08  2018
9   2018-09-01        2.1  September       09  2018
10  2018-10-01        2.3    October       10  2018
11  2018-11-01        1.9   November       11  2018
12  2018-12-01        1.5   December       12  2018
13  2019-01-01        1.4    January       01  2019
14  2019-02-01        1.5   February       02  2019
15  2019-03-01        1.4      March       03  2019
16  2019-04-01        1.7      April       04  2019
17  2019-05-01        1.2        May       05  2019
18  2019-06-01        1.3       June       06  2019
19  2019-07-01        1.0       July       07  2019
20  2019-08-01        1.0     August       08  2019
21  2019-09-01        0.8  September       09  2019
22  2019-10-01        0.7    October       10  2019
23  2019-11-01        1.0   November       11  2019
24  2019-12-01        1.3   December       12  2019
25  2020-01-01        1.4    January       01  2020
26  2020-02-01        1.2   February       02  2020
27  2020-03-01        0.7      March       03  2020
28  2020-04-01        0.3      April       04  2020
29  2020-05-01        0.1        May       05  2020
30  2020-06-01        0.3       June       06  2020
31  2020-07-01        0.4       July       07  2020
32  2020-08-01       -0.2     August       08  2020
33  2020-09-01       -0.3  September       09  2020
34  2020-10-01       -0.3    October       10  2020
35  2020-11-01       -0.3   November       11  2020
36  2020-12-01       -0.3   December       12  2020
37  2021-01-01        0.9    January       01  2021
38  2021-02-01        0.9   February       02  2021
39  2021-03-01        1.3      March       03  2021
40  2021-04-01        1.6      April       04  2021
41  2021-05-01        2.0        May       05  2021
42  2021-06-01        1.9       June       06  2021
43  2021-07-01        2.2       July       07  2021
44  2021-08-01        3.0     August       08  2021
45  2021-09-01        3.4  September       09  2021
46  2021-10-01        4.1    October       10  2021
47  2021-11-01        4.9   November       11  2021
48  2021-12-01        5.0   December       12  2021
49  2022-01-01        5.1    January       01  2022

In [35]:
# drop column "TIME_PERIOD"
data_infl_20xx = data_infl_20xx.drop(data_infl_20xx.columns[0],axis = 1)
data_infl_20xx

    OBS_VALUE      month month_no  year
0         1.3   December       12  2017
1         1.3    January       01  2018
2         1.1   February       02  2018
3         1.4      March       03  2018
4         1.2      April       04  2018
5         2.0        May       05  2018
6         2.0       June       06  2018
7         2.2       July       07  2018
8         2.1     August       08  2018
9         2.1  September       09  2018
10        2.3    October       10  2018
11        1.9   November       11  2018
12        1.5   December       12  2018
13        1.4    January       01  2019
14        1.5   February       02  2019
15        1.4      March       03  2019
16        1.7      April       04  2019
17        1.2        May       05  2019
18        1.3       June       06  2019
19        1.0       July       07  2019
20        1.0     August       08  2019
21        0.8  September       09  2019
22        0.7    October       10  2019
23        1.0   November       11  2019
24        1.3   December       12  2019
25        1.4    January       01  2020
26        1.2   February       02  2020
27        0.7      March       03  2020
28        0.3      April       04  2020
29        0.1        May       05  2020
30        0.3       June       06  2020
31        0.4       July       07  2020
32       -0.2     August       08  2020
33       -0.3  September       09  2020
34       -0.3    October       10  2020
35       -0.3   November       11  2020
36       -0.3   December       12  2020
37        0.9    January       01  2021
38        0.9   February       02  2021
39        1.3      March       03  2021
40        1.6      April       04  2021
41        2.0        May       05  2021
42        1.9       June       06  2021
43        2.2       July       07  2021
44        3.0     August       08  2021
45        3.4  September       09  2021
46        4.1    October       10  2021
47        4.9   November       11  2021
48        5.0   December       12  2021
49        5.1    January       01  2022

In [36]:
# rename column "OBS_VALUE"
data_infl_20xx = data_infl_20xx.rename(columns={"OBS_VALUE" : "inflation rate"})
data_infl_20xx

    inflation rate      month month_no  year
0              1.3   December       12  2017
1              1.3    January       01  2018
2              1.1   February       02  2018
3              1.4      March       03  2018
4              1.2      April       04  2018
5              2.0        May       05  2018
6              2.0       June       06  2018
7              2.2       July       07  2018
8              2.1     August       08  2018
9              2.1  September       09  2018
10             2.3    October       10  2018
11             1.9   November       11  2018
12             1.5   December       12  2018
13             1.4    January       01  2019
14             1.5   February       02  2019
15             1.4      March       03  2019
16             1.7      April       04  2019
17             1.2        May       05  2019
18             1.3       June       06  2019
19             1.0       July       07  2019
20             1.0     August       08  2019
21             0.8  September       09  2019
22             0.7    October       10  2019
23             1.0   November       11  2019
24             1.3   December       12  2019
25             1.4    January       01  2020
26             1.2   February       02  2020
27             0.7      March       03  2020
28             0.3      April       04  2020
29             0.1        May       05  2020
30             0.3       June       06  2020
31             0.4       July       07  2020
32            -0.2     August       08  2020
33            -0.3  September       09  2020
34            -0.3    October       10  2020
35            -0.3   November       11  2020
36            -0.3   December       12  2020
37             0.9    January       01  2021
38             0.9   February       02  2021
39             1.3      March       03  2021
40             1.6      April       04  2021
41             2.0        May       05  2021
42             1.9       June       06  2021
43             2.2       July       07  2021
44             3.0     August       08  2021
45             3.4  September       09  2021
46             4.1    October       10  2021
47             4.9   November       11  2021
48             5.0   December       12  2021
49             5.1    January       01  2022

In [37]:
# change order of columns
data_infl_20xx = data_infl_20xx[["month", "month_no", "year", "inflation rate"]]
data_infl_20xx

        month month_no  year  inflation rate
0    December       12  2017             1.3
1     January       01  2018             1.3
2    February       02  2018             1.1
3       March       03  2018             1.4
4       April       04  2018             1.2
5         May       05  2018             2.0
6        June       06  2018             2.0
7        July       07  2018             2.2
8      August       08  2018             2.1
9   September       09  2018             2.1
10    October       10  2018             2.3
11   November       11  2018             1.9
12   December       12  2018             1.5
13    January       01  2019             1.4
14   February       02  2019             1.5
15      March       03  2019             1.4
16      April       04  2019             1.7
17        May       05  2019             1.2
18       June       06  2019             1.3
19       July       07  2019             1.0
20     August       08  2019             1.0
21  September       09  2019             0.8
22    October       10  2019             0.7
23   November       11  2019             1.0
24   December       12  2019             1.3
25    January       01  2020             1.4
26   February       02  2020             1.2
27      March       03  2020             0.7
28      April       04  2020             0.3
29        May       05  2020             0.1
30       June       06  2020             0.3
31       July       07  2020             0.4
32     August       08  2020            -0.2
33  September       09  2020            -0.3
34    October       10  2020            -0.3
35   November       11  2020            -0.3
36   December       12  2020            -0.3
37    January       01  2021             0.9
38   February       02  2021             0.9
39      March       03  2021             1.3
40      April       04  2021             1.6
41        May       05  2021             2.0
42       June       06  2021             1.9
43       July       07  2021             2.2
44     August       08  2021             3.0
45  September       09  2021             3.4
46    October       10  2021             4.1
47   November       11  2021             4.9
48   December       12  2021             5.0
49    January       01  2022             5.1

In [38]:
data_infl_20xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           50 non-null     object
 1   month_no        50 non-null     object
 2   year            50 non-null     object
 3   inflation rate  50 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.7+ KB

In [39]:
# changing datatype of "month_no" and "year" to integers
data_infl_20xx[["year", "month_no"]] = data_infl_20xx[["year", "month_no"]].apply(pd.to_numeric)
data_infl_20xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           50 non-null     object
 1   month_no        50 non-null     int64
 2   year            50 non-null     int64
 3   inflation rate  50 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.7+ KB

In [40]:
# sort rows
data_infl_20xx = data_infl_20xx.sort_values(["month_no", "year"]).reset_index(drop=True)
data_infl_20xx

        month  month_no  year  inflation rate
0     January         1  2018             1.3
1     January         1  2019             1.4
2     January         1  2020             1.4
3     January         1  2021             0.9
4     January         1  2022             5.1
5    February         2  2018             1.1
6    February         2  2019             1.5
7    February         2  2020             1.2
8    February         2  2021             0.9
9       March         3  2018             1.4
10      March         3  2019             1.4
11      March         3  2020             0.7
12      March         3  2021             1.3
13      April         4  2018             1.2
14      April         4  2019             1.7
15      April         4  2020             0.3
16      April         4  2021             1.6
17        May         5  2018             2.0
18        May         5  2019             1.2
19        May         5  2020             0.1
20        May         5  2021             2.0
21       June         6  2018             2.0
22       June         6  2019             1.3
23       June         6  2020             0.3
24       June         6  2021             1.9
25       July         7  2018             2.2
26       July         7  2019             1.0
27       July         7  2020             0.4
28       July         7  2021             2.2
29     August         8  2018             2.1
30     August         8  2019             1.0
31     August         8  2020            -0.2
32     August         8  2021             3.0
33  September         9  2018             2.1
34  September         9  2019             0.8
35  September         9  2020            -0.3
36  September         9  2021             3.4
37    October        10  2018             2.3
38    October        10  2019             0.7
39    October        10  2020            -0.3
40    October        10  2021             4.1
41   November        11  2018             1.9
42   November        11  2019             1.0
43   November        11  2020            -0.3
44   November        11  2021             4.9
45   December        12  2017             1.3
46   December        12  2018             1.5
47   December        12  2019             1.3
48   December        12  2020            -0.3
49   December        12  2021             5.0

In [41]:
# creating csv-file with final cleaned dataframe
data_infl_20xx.to_csv("Final Data_Inflation EU_2018-2021_monthly.csv")

### Data from 2022

In [42]:
data_original_infl_2022 = pd.read_csv(r"/Volumes/Extreme Pro/WBS Bootcamp Data Science/Final Project/Data/Original/Inflation Europe/Inflation EU_2022_monthly.csv")
data_original_infl_2022.head()

,KEY,FREQ,REF_AREA,ADJUSTMENT,ICP_ITEM,STS_INSTITUTION,ICP_SUFFIX,TIME_PERIOD,OBS_VALUE,OBS_STATUS,...,PUBL_PUBLIC,UNIT_INDEX_BASE,COMPILATION,COVERAGE,DECIMALS,SOURCE_AGENCY,TITLE,TITLE_COMPL,UNIT,UNIT_MULT
0,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2021-12,5.0,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
1,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2022-01,5.1,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
2,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2022-02,5.9,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
3,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2022-03,7.4,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0
4,ICP.M.U2.N.000000.4.ANR,M,U2,N,0,4,ANR,2022-04,7.4,A,...,NaN,NaN,NaN,NaN,1,NaN,HICP - Overall index,Euro area (changing composition) - HICP - Over...,PCCH,0

In [43]:
data_original_infl_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   KEY              9 non-null      object
 1   FREQ             9 non-null      object
 2   REF_AREA         9 non-null      object
 3   ADJUSTMENT       9 non-null      object
 4   ICP_ITEM         9 non-null      int64
 5   STS_INSTITUTION  9 non-null      int64
 6   ICP_SUFFIX       9 non-null      object
 7   TIME_PERIOD      9 non-null      object
 8   OBS_VALUE        9 non-null      float64
 9   OBS_STATUS       9 non-null      object
 10  OBS_CONF         9 non-null      object
 11  OBS_PRE_BREAK    0 non-null      float64
 12  OBS_COM          0 non-null      float64
 13  TIME_FORMAT      9 non-null      object
 14  BREAKS           0 non-null      float64
 15  COLLECTION       9 non-null      object
 16  COMPILING_ORG    0 non-null      float64
 17  DATA_COMP        0 non-null      float64
 18  DISS_ORG         0 non-null      float64
 19  DOM_SER_IDS      9 non-null      object
 20  PUBL_ECB         0 non-null      float64
 21  PUBL_MU          0 non-null      float64
 22  PUBL_PUBLIC      0 non-null      float64
 23  UNIT_INDEX_BASE  0 non-null      float64
 24  COMPILATION      0 non-null      float64
 25  COVERAGE         0 non-null      float64
 26  DECIMALS         9 non-null      int64
 27  SOURCE_AGENCY    0 non-null      float64
 28  TITLE            9 non-null      object
 29  TITLE_COMPL      9 non-null      object
 30  UNIT             9 non-null      object
 31  UNIT_MULT        9 non-null      int64
dtypes: float64(14), int64(4), object(14)
memory usage: 2.4+ KB

In [44]:
data_infl_2022 = data_original_infl_2022.drop(data_original_infl_2022.iloc[:, 9:],axis = 1)
data_infl_2022 = data_infl_2022.drop(data_infl_2022.iloc[:, :7],axis = 1)
data_infl_2022

  TIME_PERIOD  OBS_VALUE
0     2021-12        5.0
1     2022-01        5.1
2     2022-02        5.9
3     2022-03        7.4
4     2022-04        7.4
5     2022-05        8.1
6     2022-06        8.6
7     2022-07        8.9
8     2022-08        9.1

In [45]:
data_infl_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME_PERIOD  9 non-null      object
 1   OBS_VALUE    9 non-null      float64
dtypes: float64(1), object(1)
memory usage: 272.0+ bytes

In [46]:
# convert date in datetime-datatype
data_infl_2022["TIME_PERIOD"] = pd.to_datetime(data_infl_2022["TIME_PERIOD"])
data_infl_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME_PERIOD  9 non-null      datetime64[ns]
 1   OBS_VALUE    9 non-null      float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 272.0 bytes

In [47]:
data_infl_2022 = data_infl_2022.assign(
                            month = data_infl_2022["TIME_PERIOD"].dt.strftime("%B"),
                            month_no = data_infl_2022["TIME_PERIOD"].dt.strftime("%m"),
                            year = data_infl_2022["TIME_PERIOD"].dt.strftime("%Y"))

data_infl_2022

  TIME_PERIOD  OBS_VALUE     month month_no  year
0  2021-12-01        5.0  December       12  2021
1  2022-01-01        5.1   January       01  2022
2  2022-02-01        5.9  February       02  2022
3  2022-03-01        7.4     March       03  2022
4  2022-04-01        7.4     April       04  2022
5  2022-05-01        8.1       May       05  2022
6  2022-06-01        8.6      June       06  2022
7  2022-07-01        8.9      July       07  2022
8  2022-08-01        9.1    August       08  2022

In [48]:
# drop column "TIME_PERIOD"
data_infl_2022 = data_infl_2022.drop(data_infl_2022.columns[0],axis = 1)
data_infl_2022

   OBS_VALUE     month month_no  year
0        5.0  December       12  2021
1        5.1   January       01  2022
2        5.9  February       02  2022
3        7.4     March       03  2022
4        7.4     April       04  2022
5        8.1       May       05  2022
6        8.6      June       06  2022
7        8.9      July       07  2022
8        9.1    August       08  2022

In [49]:
# rename column "OBS_VALUE"
data_infl_2022 = data_infl_2022.rename(columns={"OBS_VALUE" : "inflation rate"})
data_infl_2022

   inflation rate     month month_no  year
0             5.0  December       12  2021
1             5.1   January       01  2022
2             5.9  February       02  2022
3             7.4     March       03  2022
4             7.4     April       04  2022
5             8.1       May       05  2022
6             8.6      June       06  2022
7             8.9      July       07  2022
8             9.1    August       08  2022

In [50]:
# change order of columns
data_infl_2022 = data_infl_2022[["month", "month_no", "year", "inflation rate"]]
data_infl_2022

      month month_no  year  inflation rate
0  December       12  2021             5.0
1   January       01  2022             5.1
2  February       02  2022             5.9
3     March       03  2022             7.4
4     April       04  2022             7.4
5       May       05  2022             8.1
6      June       06  2022             8.6
7      July       07  2022             8.9
8    August       08  2022             9.1

In [51]:
data_infl_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           9 non-null      object
 1   month_no        9 non-null      object
 2   year            9 non-null      object
 3   inflation rate  9 non-null      float64
dtypes: float64(1), object(3)
memory usage: 416.0+ bytes

In [52]:
# changing datatype of "month" and "year" to integers
data_infl_2022[["year", "month_no"]] = data_infl_2022[["year", "month_no"]].apply(pd.to_numeric)
data_infl_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           9 non-null      object
 1   month_no        9 non-null      int64
 2   year            9 non-null      int64
 3   inflation rate  9 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 416.0+ bytes

In [53]:
# sort rows
data_infl_2022 = data_infl_2022.sort_values(["month_no", "year"]).reset_index(drop=True)
data_infl_2022

      month  month_no  year  inflation rate
0   January         1  2022             5.1
1  February         2  2022             5.9
2     March         3  2022             7.4
3     April         4  2022             7.4
4       May         5  2022             8.1
5      June         6  2022             8.6
6      July         7  2022             8.9
7    August         8  2022             9.1
8  December        12  2021             5.0

In [54]:
# creating csv-file with final cleaned dataframe
data_infl_2022.to_csv("Final Data_Inflation EU_2022.csv")